*{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

body{
    padding-top: 50px;
}

section{
    padding-top: 25px;
    padding-bottom: 15px;
    min-height: 100vh;
}

section#contato{
    min-height: 60vh;
}

footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background: url(../imgs/bgSlider.png);
}

.grayScale{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

.grayScale:hover{
   -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
   filter: grayscale(0%);
}



.navbar-brand {
  font-weight: 700;  
}

.divslider{
    padding-top: 15px;
    padding-bottom: 15px;
    background: url(../imgs/bgSlider.png);
}

.divBackGroundr{
    background: url(../imgs/bgSlider.png); 
}

.scrollSuave{
    
}

.btnTodosServicos{
    margin-top: 25px;
}

.portfolio_item{
    background: white;
}

.portfolio_item h4{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.contato textarea{
    height: 170px;
}

.contato .aviso{
    padding:15px;
}

.form-login{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    background: #eee
}

.form-login input{
    margin-bottom: 10px;
}

.panelPainel{
    margin-bottom: 2px;
}